body {
  font-family: "Lexend Deca";
  text-align: center;
  margin: 0;
  padding: 0;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 40px;
}

.container {
  display: flex;
  border-radius: 10px;
   box-shadow: 0 0 60px rgb(255, 0, 0);
  max-width: 500px;
  overflow: hidden;
  flex-wrap: wrap;
}

.galeria {
  flex: 1 1 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
}

.galeria img {
  max-width: 100%;
  max-height: 400px;
  border-radius: 10px;
}

.arrow {
  position: absolute;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #ffffff;
}

.arrow:first-of-type {
  left: 10px;
}
.arrow:last-of-type {
  right: 10px;
}

.cont{
  color: red;
}

.cor{
  color: rgb(0, 255, 255);
}

.s{
  color: green;
}

.detalhes {
  color: white;
  flex: 1 1 45%;
  padding: 20px;
  box-sizing: border-box;
}

.detalhes h2 {
  margin-top: 0;
}

.detalhes p {
  margin: 6px 0;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.voltar-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #cc0000;
  color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.voltar-btn:hover {
  background-color: #a30000;
}
