body {
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: "Lexend Deca";
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("./imagens/Virtual.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  top: 0;
}
.logVt img {
  margin-top: -15px;
  width: 200px;
  height: auto;
}


.header a {
  color: rgb(138, 1, 1);
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.header a:hover {
  color: rgb(255, 116, 116);
}

.vt {
  color: red;
}

.escrita_titulo {
  margin-top: -30px;
}

.escrita {
  margin-top: 5px;
}

.main-content {
  margin-top: 50px;
}

.main-content p {
  font-size: 18px;
  line-height: 1.6;
}

.car-image img {
  margin-top: 30px;
  width: 300px;
}
.login-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #45a049;
}
